<div class="anim-header-container">
    <div class="anim-image-wrapper">
        <img src="{{ include.header_url }}" alt="{{ include.header_alt }}">
        <div class="anim-title-container">
            <span class="anim-title-line">{{ include.header_text }}</span>
            <span class="anim-title-line">{{ include.subtext }}</span>
        </div>
    </div>
</div>

<p class="photo-credit">photos + BTS footage by {{ include.credit_name }}</p>

<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">